<a href="https://colab.research.google.com/github/arorakr/dsai-gate/blob/main/Copy_of_Python_Programming_Problems_Week4_Intermediate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Problem 1: Find Second Largest Element in a List

**Problem Statement:**
Write a function that returns the second largest element from a list of integers. You may assume the list has at least two unique elements.

**Examples/Test Cases:**
- Input: [4, 1, 7, 3, 9] → Output: 7
- Input: [10, 5, 20, 20, 5] → Output: 10
- Input: [1, 2] → Output: 1

In [ ]:
# Write your solution here

### Problem 2: Rotate List Elements

**Problem Statement:**
Write a function that rotates the elements of a list to the right by k steps.

**Examples/Test Cases:**
- Input: [1,2,3,4,5], k=2 → Output: [4,5,1,2,3]
- Input: [10,20,30], k=1 → Output: [30,10,20]
- Input: ['a','b','c','d'], k=4 → Output: ['a','b','c','d']

In [ ]:
# Write your solution here

### Problem 3: Count Frequencies as List of Tuples

**Problem Statement:**
Write a function that takes a tuple of integers and returns a list of (element, frequency) tuples, sorted by element.

**Examples/Test Cases:**
- Input: (1,2,2,3) → Output: [(1,1), (2,2), (3,1)]
- Input: () → Output: []
- Input: ('a','a','b') → Output: [('a',2), ('b',1)]

In [ ]:
# Write your solution here

### Problem 4: Extract Unique Characters from Strings using Sets

**Problem Statement:**
Write a function that takes a list of strings and returns a set of unique characters across all strings.

**Examples/Test Cases:**
- Input: ['abc', 'bcd'] → Output: {'a','b','c','d'}
- Input: [] → Output: set()
- Input: ['aaa', 'bbb'] → Output: {'a', 'b'}

In [ ]:
# Write your solution here

### Problem 5: Intersection of Multiple Sets

**Problem Statement:**
Write a function that returns the intersection of all sets in a list. If the list is empty, return an empty set.

**Examples/Test Cases:**
- Input: [{1,2,3}, {2,3}, {3,2,4}] → Output: {2,3}
- Input: [{1,2}, {3,4}] → Output: set()
- Input: [] → Output: set()

In [ ]:
# Write your solution here

### Problem 6: Deep Slice of a List

**Problem Statement:**
Write a function that takes a list and returns every second element from the reversed list (starting from the last element).

**Examples/Test Cases:**
- Input: [1,2,3,4,5] → Output: [5,3,1]
- Input: [10,20,30,40] → Output: [40,20]
- Input: [7] → Output: [7]

In [ ]:
# Write your solution here

### Problem 7: Modify Nested List

**Problem Statement:**
Write a function that updates the first element of each sub-list to 0.

**Examples/Test Cases:**
- Input: [[1,2],[3,4]] → Output: [[0,2],[0,4]]
- Input: [[5],[6,7]] → Output: [[0],[0,7]]
- Input: [] → Output: []

In [ ]:
# Write your solution here

### Problem 8: Find Pair with Given Sum in List

**Problem Statement:**
Write a function that returns all unique pairs from a list that sum up to a target value. Each pair should be in sorted order.

**Examples/Test Cases:**
- Input: [1,2,3,4,5], target=5 → Output: [(1,4),(2,3)]
- Input: [0,2,2,3], target=4 → Output: [(1,3)]
- Input: [1,1,1], target=2 → Output: [(1,1)]

In [ ]:
# Write your solution here

### Problem 9: Increment Tuple Values

**Problem Statement:**
Write a function that takes a tuple and returns a new tuple with all values incremented by 1 (without modifying the original).

**Examples/Test Cases:**
- Input: (1,2,3) → Output: (2,3,4)
- Input: () → Output: ()
- Input: (-1,) → Output: (0,)

In [ ]:
# Write your solution here

### Problem 10: Flatten a Nested List

**Problem Statement:**
Write a function to flatten a 2D list (a list of lists) into a single list.

**Examples/Test Cases:**
- Input: [[1,2],[3,4]] → Output: [1,2,3,4]
- Input: [[],[1]] → Output: [1]
- Input: [] → Output: []

In [ ]:
# Write your solution here

### Problem 11: All Permutations of a Tuple

**Problem Statement:**
Write a function that returns all permutations of a given tuple as a list of tuples.

**Examples/Test Cases:**
- Input: (1,2) → Output: [(1,2),(2,1)]
- Input: ('a','b') → Output: [('a','b'),('b','a')]
- Input: (5,) → Output: [(5,)]

In [ ]:
# Write your solution here

### Problem 12: Merge Two Lists Alternately

**Problem Statement:**
Write a function to merge two lists element-wise (alternating elements).

**Examples/Test Cases:**
- Input: [1,2], [3,4] → Output: [1,3,2,4]
- Input: ['a'], ['b','c'] → Output: ['a','b','c']
- Input: [], [1] → Output: [1]

In [ ]:
# Write your solution here

### Problem 13: Remove Elements Greater Than Average

**Problem Statement:**
Write a function that removes all elements from a list that are greater than the average of the list.

**Examples/Test Cases:**
- Input: [1,2,3,4,5] → Output: [1,2,3]
- Input: [10,10,10] → Output: [10,10,10]
- Input: [4,5] → Output: [4]

In [ ]:
# Write your solution here

### Problem 14: Set Symmetric Difference

**Problem Statement:**
Write a function that returns the symmetric difference of two sets (elements in either but not both).

**Examples/Test Cases:**
- Input: {1,2,3}, {3,4} → Output: {1,2,4}
- Input: {}, {} → Output: {}
- Input: {5}, {5} → Output: {}

In [ ]:
# Write your solution here

### Problem 15: Index of All Occurrences in List

**Problem Statement:**
Return all indices of a given element in a list.

**Examples/Test Cases:**
- Input: [1,2,1,3], element=1 → Output: [0,2]
- Input: ['a','b','a'], element='a' → Output: [0,2]
- Input: [], element=1 → Output: []

In [ ]:
# Write your solution here